
$colorBackground:black;
$colorText:#ffff;
$colorBorder:#1a73e8;
$corDeFundo: #040714;
$corDoHeader: rgb(4, 0, 42);

//color links 
$colorLinkText:#ffffff;
$colorLinkTextActive: #418ae9;
$colorLinkbackgroundActive: #006dfc;

//color button 
$colorBorderButton:#006dfc;